@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header{
  border-bottom: 1px solid #E2E8F0;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link{
  font-size: 1.6rem;
  font-weight: 600;
  color: #475569;
}

.nav-link:hover{
  color: #482ff7;
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
}

.menu-container .navbar {
  display: none;
}
.menu-container:focus-within .navbar {
  display: block;
}

/* Header Media Query */

@media only screen and (max-width: 768px) {
  .nav-menu {
      position: fixed;
      left: -100%;
      top: 4.5rem;
      flex-direction: column;
      padding-bottom: 1rem;
      background-color: #fff;
      width: 100%;
      height: 100% !important;
      border-radius: 10px;
      text-align: center;
      transition: 0.3s;
      box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
      justify-content: space-evenly !important;
      z-index: 1;
  }

  .nav-menu.active {
      left: 0;
  }

  .nav-item {
      margin: 1.5rem 0 !important;
  }

  .nav-link {
    font-size: 3rem !important;
    font-weight: bold;
  }

  .hamburger {
      display: block;
      cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

}

.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin: 10px 0;
  padding: 10px;
  padding: 0 20px;
  justify-content: center;
}

.item {
  border-radius: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.item .item-contents {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 10px;
}

.item .item-contents .texts-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 0;
  margin-bottom: 10px;
}

.item .item-contents .texts-container p {
  font-size: 1.8rem;
  font-weight: 700;
  color: #482ff7;
}

.item .item-contents .texts-container i {
  font-size: 2rem;
  color: red;
  margin-bottom: 5px;
  cursor: pointer;
}

.item .item-contents .texts-container span {
  font-size: 1.5rem;
  font-weight: 500;
  color: #482ff7;
}

.btns .btn {
  border: 1px #482ff7 solid;
  color: #482ff7;
  padding: 5px 15px;
  margin-right: 10px;
}

.btns .btn:hover {
  color: #fff;
  background-color: #482ff7;
}

.btns .btn:nth-child(2) {
  color: #fff;
  background-color: #482ff7;
}

.btn:nth-child(2):hover {
  border: 1px #482ff7 solid ;
  color: #482ff7;
  background-color: #fff;
}

.img-container {
  width: 100%;
  height: 50vh;
}

.img-container img {
  height: 100%;
  width: 100%;
  object-fit: fill;
  cursor: pointer;
  transition: 1s;
}

.img-container img:hover {
  transform: scale(0.9);
}

.item h6 {
  display: inline;
  float: left;
  padding: 10px;
}

.item h6 .fa-heart {
  color: red;
}

.footer {
  height: 100px; 
  background: #475569;
}

.footer h2 {
  color: #fff;
  padding-top: 20px;
  text-align: center;
}

@media only screen and (max-width: 1300px) {
  .item .item-contents .texts-container p {
    font-size: 1.5rem;
    font-weight: 600;
  }
}

@media only screen and (max-width: 1100px) {
  .item .item-contents .texts-container p {
    font-size: 1.3rem;
    font-weight: 500;
  }
}

@media only screen and (max-width: 968px) {
  .item .item-contents .texts-container p {
    font-size: 1.2rem;
    font-weight: 400;
  }
}

@media only screen and (max-width: 868px) {
  .item .item-contents .texts-container p {
    font-size: 1.25rem;
  }
  .content {
    grid-template-columns: repeat(2, 1fr) !important;
    grid-gap: 10px;
    margin: 10px 0;
    padding: 10px;
  }
}

@media only screen and (max-width: 568px) {
  .item .item-contents .texts-container p {
    font-size: 1.5rem;
    font-weight: 500;
  }
  .content {
    grid-template-columns: repeat(1, 1fr) !important;
    grid-gap: 10px;
    margin: 10px 0;
    padding: 10px;
  }
}