@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  font-weight: bold;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h2,
h3 {
  text-align: center;
  padding-bottom: 20px;
}

.header{
  border-bottom: 1px solid #E2E8F0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  /* background-color: red; */
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link{
  font-size: 1.6rem;
  font-weight: 400;
  color: #475569;
}

.nav-link:hover{
  color: #482ff7;
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
}

.menu-container .navbar {
  display: none;
}
.menu-container:focus-within .navbar {
  display: block;
}

/* Header Media Query */

@media only screen and (max-width: 768px) {
  .nav-menu {
      position: fixed;
      left: -100%;
      top: 4.5rem;
      flex-direction: column;
      padding-bottom: 1rem;
      /* background-color: red; */
      width: 100%;
      height: 100% !important;
      line-height: 200% !important;
      border-radius: 10px;
      text-align: center;
      transition: 0.3s;
      box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
      justify-content: space-evenly !important;
  }

  .nav-menu.active {
      left: 0;
  }

  .nav-item {
      margin: 1.5rem 0 !important;
      /* background-color: blue; */
  }

  .nav-link {
    font-size: 3rem !important;
    font-weight: bold;
  }

  .hamburger {
      display: block;
      cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}


}


/* .navbar-list {
  background-color: #56adbf;
  height: 90px;
  width: 100%;
}

.navbar-list h1 {
  color: #fff;
  margin: 24px 0 0 117px;
  position: absolute;
}

.nav-list {
  float: right;
  list-style: none;
  margin-top: 30px;
  margin-right: 6%;
}

.nav-list li {
  display: inline;
  color: #fff;
  font-size: 20px;
  padding: 30px;
} */

.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 10%;
  justify-content: center;
}

.item {
  padding: 20px;
}

.img-container {
  width: 100%;
  height: 50vh;
}

.img-container img {
  height: 100%;
  width: 100%;
}

.item h6 {
  display: inline;
  float: left;
  padding: 10px;
}

.item h6 i {
  color: red;
}

.footer {
  width: 99%;
  position: relative;
  height: 60px; /* Height of the footer */
  background: #56adbf;
}

.footer span {
  color: #fff;
  margin: 24px 0 0 20px;
  position: absolute;
}
